/* Estilos para contenedor general */
.tigerCard {
    width: 50%;
    /* width: 54%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00000050;
    margin-right: 1px;
    cursor: default;
}

/* @media (max-width: 768px) { */
@media (max-width: 649px) {
    .tigerCard {
        width: 100%;
        height: auto;
        margin-right: 0;
        /* margin-bottom: 1px; */
        /* border-bottom: solid rgb(78, 78, 78) 1px; */
        background-image: url("../../asets/Image=1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/* Estilos para la ubicacion del contenedor */
.tigerCardCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 649px) {
    .tigerCardCont {
        background-color: rgba(0, 0, 0, 0.418);
    }
}

/* Estilos para la ubicacion del contenedor del texto */
.text {
    width: 60%;
    text-align: left;
}

/* Estilos para el título (h1) dentro del contenedor */
.tigerCardCont h1 {
    color: #70FFE5;
    font-size: 11px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 1.5px;
    /* -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: rgb(7, 0, 0); */
}

@media (max-width: 649px) {
    .tigerCardCont h1 {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-top: 25px;
    }
}

/* Estilos para el título (h2) dentro del contenedor */
.tigerCardCont h2 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 57px;
    font-size: 51px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
}

@media (max-width: 990px) {
    .tigerCardCont h2 {
        font-size: 45px;
    }
}

@media (max-width: 875px) {
    .tigerCardCont h2 {
        font-size: 37px;
    }
}

@media (max-width: 720px) {
    .tigerCardCont h2 {
        font-size: 30px;
        line-height: 37px;
    }
}

@media (max-width: 649px) {
    .tigerCardCont h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 10px;
    }
}

/* Estilos para el párrafo (p) dentro del contenedor */
.tigerCardCont p {
    color: #ffffff;
    font-size: small;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 320;
    margin-bottom: 0px;
}

/* Estilos para el botón dentro del contenedor */
.btnDonate {
    background-color: #70FFE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #302E39;
    letter-spacing: 4px;
    height: 45px;
    width: 185px;
    border: solid rgb(52, 152, 165) 1px;
    border-radius: 40px;
    margin-top: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

@media (max-width: 990px) {
    .btnDonate {
        font-size: 11px;
        height: 40px;
        width: 160px;
    }
}

@media (max-width: 720px) {
    .btnDonate {
        font-size: 10px;
        height: 35px;
        width: 135px;
    }
}

@media (max-width: 649px) {
    .btnDonate {
        font-size: 11px;
        font-weight: 800;
        letter-spacing: 2.5px;
        height: 30px;
        width: 130px;
        margin-bottom: 25px;
    }
}

/* Estilos para el efecto cuando estoy sobre el botón dentro del contenedor */
.btnDonate:hover {
    background-color: #70FFE5;
    /* box-shadow: 0 0 0px #6fc5ff50; */
    transform: scale(1.05);
    background-color: #ffffff;
}

/* Estilos para el efecto cuando hago click sobre el botón dentro del contenedor */
.btnDonate:active {
    background-color: #70FFE5;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}